@use "../abstracts" as *;

.theName {
    background: $colorLight;

    .content {
        text-align: center;

        p {
            color: $colorSecondary;
            font-weight: 700;
            background: $colorWhite;
            border-radius: 1rem;
            display: inline-block;
            padding: 2rem 4rem;
            margin-bottom: 0;
        }
    }
}

.coreValues {
    background: $colorLight;

    .coreGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;

        &__Item {
            background: $colorWhite;
            padding: 1.6rem;
            display: flex;
            align-items: flex-start;

            i {
                background: rgba($colorSecondary, $alpha: 0.1);
                color: $colorSecondary;
                padding: 1rem;
                border-radius: 100%;
            }

            p {
                padding-left: 1rem;
                margin-bottom: 0;
            }
        }
    }
}

.missionVision {
    i {
        color: $colorSecondary;
        font-size: 2rem;
        background: rgba($colorSecondary, $alpha: 0.05);
        padding: 2rem;
        border-radius: 5px;
        margin-bottom: 1.5rem;
    }
}

.founderMess {
    background: $colorLight;

    .headingTertiary {
        font-weight: 700;
        color: $colorTertiary;
        font-size: $defaultFontSize;
    }
}